# exclude compiled binaries and external models
/bin

# exclude data from source control by default
/data/temp
/data/processed
/data/raw
.Rproj.user
*.DS_Store
*.png
*.csv
*.Rhistory
#*.Rmd
/results
*.bib
src/archive